@import 'vars.sass'
@import 'mixins.sass'
@import 'global.sass'

.container
    margin: 0 auto
    width: 90%
    @include small
        width: $small
    @include medium
        width: $medium
    @include large
        width: $large
    @include extra
        width: $extra
