@import 'vars.sass'
@import 'mixins.sass'
@import 'global.sass'

.container
    margin: 0 auto
    max-width: 90%
    @include small
        max-width: calc(#{$small} - 100px)
    @include medium
        max-width: calc(#{$medium} - 100px)
    @include large
        max-width: calc(#{$large} - 100px)
    @include extra
        max-width: calc(#{$extra} - 100px)
